@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
  --gold: #d5966c;
  --almost-black: #151515;
  --dark-grey: #444444;
  --white-color: #ffffff;
}

body {
  overflow-x: hidden;
}

/* Typography */
h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 900;
  font-size: 96px; /* Heading (XL) */
  line-height: 88px;
}

h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 900;
  font-size: 70px; /* Heading (L) */
  line-height: 70px;
}

h3 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 900;
  font-size: 60px; /* Heading (M) */
  line-height: 50px;
}

h4 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: bl;
  font-size: 36px; /* Heading (S) */
  line-height: 36px;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 22px; /* Body (M) */
  line-height: 32px;
}

/* Additional styles for smaller body text */
small {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 18px; /* Body (S) */
  line-height: 28px;
}
